{# Ioana A Mititean #}
{# 24.4 Exercise: Auth #}
{# Flask Feedback #}

{# Base template for Flask Feedback app. #}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Feedback:
        {% block title %}
            PAGE TITLE GOES HERE
        {% endblock title %}

    </title>
</head>

<body>

    {% if 'username' in session %}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/secret">Secret</a></li>
    {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    {% endif %}

    {% for msg in get_flashed_messages() %}
        <p style="background-color:lightgreen">{{ msg }}</p>
    {% endfor %}

    {% block content %}
        PAGE CONTENT GOES HERE
    {% endblock content %}

</body>
</html>
