{# Ioana A Mititean #}
{# 24.4 Exercise: Auth #}
{# Flask Feedback #}

{# Page for adding new feedback. #}

{% extends "base.jinja2" %}

{% block title %}
    Add Feedback
{% endblock title %}

{% block content %}
    <h1>Add New Feedback: {{ user.username }}</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <fieldset>
            {% for field in form if field.widget.input_type != "hidden" %}
                <div>
                    {{ field.label }}
                </div>
                <div>
                    {{ field }}
                </div>

                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}

            {% endfor %}
        </fieldset>

        <button type="submit">Add</button>
    </form>

{% endblock content %}
