{# Ioana A Mititean #}
{# 24.4 Exercise: Auth #}
{# Flask Feedback #}

{# User login page. #}

{% extends "base.jinja2" %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

    <h1>User Login</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <fieldset>
            {% for field in form if field.widget.input_type != "hidden" %}

                <div>
                    {{ field.label }}
                    {{ field }}
                </div>

                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}

            {% endfor %}
        </fieldset>

        <button type="submit">Log in</button>
    </form>

{% endblock content %}
