{# Ioana A Mititean #}
{# 24.4 Exercise: Auth #}
{# Flask Feedback #}

{# 'Secret' page with a 'secret' message. #}

{% extends "base.jinja2" %}

{% block title %}
    Secrets
{% endblock title %}

{% block content %}
    <p>This is a secret page. Marvel at its power.</p>
{% endblock content %}
