{# Ioana A Mititean #}
{# 24.4 Exercise: Auth #}
{# Flask Feedback #}

{# User information page. #}

{% extends "base.jinja2" %}

{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}

    <h1>Profile: {{ user.username }}</h1>

    <div>
        <div>
            Email: {{ user.email }}
        </div>
        <div>
            Name: {{ user.first_name }} {{ user.last_name }}
        </div>
    </div>

    <div>
        <h3>Feedback by this User</h3>

        <ul>
            {% for fb in feedback %}
                <li>
                    {{ fb.title }}
                    <form style="display:inline"
                          action="/feedback/{{ fb.id }}/update">
                        <button>Edit</button>
                    </form>

                    <form style="display:inline"
                          action="/feedback/{{ fb.id }}/delete"
                          method="POST">
                        <button>Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <div>
            <form action="/users/{{ user.username }}/feedback/add">
                <button>Add more feedback</button>
            </form>
        </div>

        <div>
            <form action="/users/{{ user.username }}/delete", method="POST">
                <button>Delete user</button>
            </form>
        </div>

    </div>

{% endblock content %}
