{# Ioana A Mititean #}
{# 24.4 Exercise: Auth #}
{# Flask Feedback #}

{# User information page. #}

{% extends "base.jinja2" %}

{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}

    <h1>Profile: {{ user.username }}</h1>

    <div>
        <div>
            Email: {{ user.email }}
        </div>
        <div>
            Name: {{ user.first_name }} {{ user.last_name }}
        </div>
    </div>

    <div>
        <h3>Feedback by this User</h3>

        <ul>
            {% for fb in user.feedbacks %}
                <li>
                    <a>{{ fb.title }}</a>
                    <a><button>Edit</button></a>
                    <a><button>Delete</button></a>
                </li>
            {% endfor %}
        </ul>

        <div>
            <a><button>Add more feedback</button></a>
        </div>

        <div>
            <a><button>Delete user</button></a>
        </div>

    </div>

{% endblock content %}
